@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

$font-primary: 'Nunito', sans-serif;
$white: hsl(0, 0%, 100%);

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: rebeccapurple;
  font-family: $font-primary;
  font-weight: normal;
  line-height: 1.4;
  color: $white;
}